// Helpers > Parameters

$color-light: #fff;
$color-pale: #f8f8f8;
$color-medium: #5f6c6f;
$color-dark: #000;
$color-accent: #f6d411;

// Helpers > Mixins

@mixin medium {
    @media screen and (max-width: 980px) {
        @content;
    }
}

@mixin image-width {
    @media screen and (max-width: 900px) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: 520px) {
        @content;
    }
}
